@import './base.css';

@font-face {
  font-family: 'DahliaRegularCond';
  src: url(./fonts/Dahlia/Dahlia\ Regular\ Condensed.otf);
}
@font-face {
  font-family: 'Dahlia';
  src: url(/frontend-pages/src/assets/fonts/Dahlia/Dahlia\ Regular.otf) format("opentype");
}
@font-face {
  font-family: 'Neue Montreal';
  src: url(./fonts/Neue\ Montreal/NeueMontreal-Regular.otf);
}
@font-face {
  font-family: 'NyghtDark';
  src: url(./fonts/Nyght/NyghtSerif-Dark.woff);
}
@font-face {
  font-family: 'NyghtLightItalic';
  src: url(./fonts/Nyght/NyghtSerif-LightItalic.woff);
}

@font-face {
  font-family: 'NyghtDarkItalic';
  src: url(./fonts/Nyght/NyghtSerif-DarkItalic.woff);
}
body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
}